.inads-appartment.hidden,
.inads-input-clear.hidden,
.inads-input-search.hidden,
.inads_spinner.hidden,
.inads-result.hidden {
  display: none;
}

#in-address {
  position: relative;
}

.inads-input-div {
  display: flex;
  height: calc(var(--spacing) * 12);
}

.inads-input,
.inads-appartment {
  border: 1px solid var(--color-valid);
  color: var(--color-muted-dark);
  background-color: white;
  border-radius: var(--radius-md);
  padding-inline: calc(var(--spacing) * 2);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  box-shadow: var(--shadow-md);
}

.inads-input::placeholder,
.inads-appartment::placeholder {
  color: var(--color-muted);
}

.inads-input:focus,
.inads-appartment:focus {
  border: 1px solid rgba(var(--color-primary-rgb), 0.3);
  box-shadow: var(--shadow-lg);
  outline-style: none;
}

.inads-input {
  width: 100%;
  padding-inline: calc(var(--spacing) * 10);
}

.inads-input.apartmnet {
  width: calc(9 / 12 * 100%);
}

.inads-appartment {
  width: calc(3 / 12 * 100%);
}

.inads-input.invalid,
.inads-appartment.invalid {
  border: 1px solid var(--color-invalid);
}

.inads-copyright {
  display: none;
}

.inads-result-container {
  border: 1px solid rgba(var(--color-primary-rgb), 0.3);
  position: absolute;
  z-index: 10;
  width: 100%;
  list-style: none;
  border-radius: var(--radius-md);
  background-color: white;
  font-size: var(--text-sm);
}

.inads-result {
  overflow: hidden;
}

.inads-result li {
  color: var(--color-muted-dark);
  cursor: pointer;
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 3);
}

.inads-result li:hover,
.inads-result li.active {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.inads-input-search {
  position: absolute;
  top: calc(var(--spacing) * 4);
  left: calc(var(--spacing) * 3.5);
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMzIiIHdpZHRoPSIzMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjxwYXRoIGZpbGw9IiM2MzY2ZjEiIGQ9Ik00MTYgMjA4YzAgNDUuOS0xNC45IDg4LjMtNDAgMTIyLjdMNTAyLjYgNDU3LjRjMTIuNSAxMi41IDEyLjUgMzIuOCAwIDQ1LjNzLTMyLjggMTIuNS00NS4zIDBMMzMwLjcgMzc2Yy0zNC40IDI1LjItNzYuOCA0MC0xMjIuNyA0MEM5My4xIDQxNiAwIDMyMi45IDAgMjA4UzkzLjEgMCAyMDggMFM0MTYgOTMuMSA0MTYgMjA4ek0yMDggMzUyYTE0NCAxNDQgMCAxIDAgMC0yODggMTQ0IDE0NCAwIDEgMCAwIDI4OHoiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: contain;
}

.inads-input-clear {
  position: absolute;
  top: calc(var(--spacing) * 4);
  right: calc(var(--spacing) * 3);
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  cursor: pointer;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBQRC4gTWFkZSBieSBtb25leXRyZWU6IGh0dHBzOi8vZ2l0aHViLmNvbS9tb25leXRyZWUvbXQtd2ViLWljb25zIC0tPgo8c3ZnIGZpbGw9IiM2MzY2ZjEiIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNTEyLjQ4MSA0MjEuOTA2TDg1MC42ODIgODQuNjIxYzI1LjAyMy0yNC45NjQgNjUuNTQ1LTI0LjkxNyA5MC41MS4xMDVzMjQuOTE3IDY1LjU0NS0uMTA1IDkwLjUxTDYwMy4wMyA1MTIuMzc3IDk0MC45NCA4NTBjMjUuMDAzIDI0Ljk4NCAyNS4wMTcgNjUuNTA3LjAzMyA5MC41MXMtNjUuNTA3IDI1LjAxNy05MC41MS4wMzNMNTEyLjM5NyA2MDIuNzY0IDE3NC4yMTUgOTQwLjAzYy0yNS4wMjMgMjQuOTY0LTY1LjU0NSAyNC45MTctOTAuNTEtLjEwNXMtMjQuOTE3LTY1LjU0NS4xMDUtOTAuNTFsMzM4LjAzOC0zMzcuMTIyTDg0LjE0IDE3NC44NzJjLTI1LjAwMy0yNC45ODQtMjUuMDE3LTY1LjUwNy0uMDMzLTkwLjUxczY1LjUwNy0yNS4wMTcgOTAuNTEtLjAzM0w1MTIuNDggNDIxLjkwNnoiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: contain;
}

.inads-input-clear.appartment {
  right: 22%;
}

.inads_spinner {
  position: absolute;
  top: calc(var(--spacing) * 3.5);
  left: calc(var(--spacing) * 3);
  width: calc(var(--spacing) * 5);
  height: calc(var(--spacing) * 5);
  animation: var(--animate-spin);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBDQyBBdHRyaWJ1dGlvbi4gTWFkZSBieSBKZXRCcmFpbnM6IGh0dHBzOi8vZ2l0aHViLmNvbS9KZXRCcmFpbnMvaWNvbnMgLS0+CjxzdmcgZmlsbD0iIzYzNjZmMSIgd2lkdGg9IjgwMHB4IiBoZWlnaHQ9IjgwMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cgo8Zz4KCjxwYXRoIGQ9Ik0xMCwxVjNhNyw3LDAsMSwxLTcsN0gxYTksOSwwLDEsMCw5LTlaIi8+Cgo8L2c+Cgo8L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: contain;
}
